<div class="panel panel-info">
	<div class="panel-heading"><h1 class="panel-title"><strong>Filter</strong></h1></div>
	<div class="panel-body">
		<input class="form-control" type="text" data-ng-model="filter.custs.Name" 
		placeholder="Enter keyword">
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading"><h3 class="panel-title"><strong>List of Employes</strong></h3></div>
	<div class="table-responsive">
		<table class="table table-striped">
			<tr>
				<th>Employe Name</th>
				<th>City</th>
				<th>Country</th>
				<th>Action</th>
			</tr>
			<tr data-ng-repeat="custs in customers | filter:filter.custs.Name | orderBy : 'Name'">
				<td>{{custs.Name}}</td>
				<td>{{custs.City}}</td>
				<td>{{custs.Country}}</td>
				<td><div class="remove" data-ng-click="deleteCustomer(custs)">Delete</div></td>
			</tr>
		</table>
	</div>
</div>

<div><a href="#/" class="btn btn-primary btn-jump">List of Fathers</a></div>
