<div class="panel panel-info">
	<div class="panel-heading"><h1 class="panel-title"><strong>Filter</strong></h1></div>
	<div class="panel-body">
		<input class="form-control" type="text" data-ng-model="filter.fath.name" 
		placeholder="Enter keyword">
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading"><h1 class="panel-title"><strong>Customer List</strong></h1></div>
<div class="userList">
	<div class="table-responsive">
		<table class="table table-striped">
			<tr>
				<th>ID</th>
				<th>Father's Name</th>
				<th>Marital Status</th>
				<th>Sons</th>
				<th>Daughters</th>
				<th>Action</th>
			</tr>
			<tr data-ng-repeat="fath in fathers | filter:filter.fath.name">
				<td>{{ fath.id}}</td>
				<td>{{ fath.name}}</td>
				<td>
					<span class="label label-danger" data-ng-if="!fath.married">Married</span>
					<span class="label label-primary" data-ng-if="fath.married">Single</span>
				</td>
				<td>{{ fath.sons}} <span data-ng-if="!fath.sons">--</span></td>
				<td>
					<div data-ng-if="!!fath.daughters.length">
						
						<ul data-ng-repeat="daughter in fath.daughters" class="list-inline">
							<li>Name: <em>{{daughter.name}}</em></li>
							<li>Age: <em>{{daughter.age}}</em></li>
						</ul>
						
					</div>
					<span data-ng-if="!fath.daughters.length">--</span>
				</td>
				<td class="remove" data-ng-click="removeFather(fath)"><code>Delete</code></td>
			</tr>
		</table>
	</div>
</div>
</div>
<div class="panel panel-success">
	<div class="panel-heading"><h1 class="panel-title"><input type="checkbox" data-ng-model="switch"> <strong>Add New Customers</strong></h1></div>
	<div class="addCustomers panel-body" data-ng-show="switch">
		<ul class="list-inline">
			<li>
				<lable>Customer Name:</lable>
				<input type="text" class="form-control" data-ng-model="newCustomer.name">
			</li>
			
			<li>
				<lable>Customer City:</lable>
				<input type="text" class="form-control" data-ng-model="newCity.city">
			</li>
			<li>
				<lable>Customer Price:</lable>
				<input type="text" class="form-control" data-ng-model="newPrice.price">
			</li>
			
			<li>
				<lable>&nbsp;</lable>
				<button class="btn btn-primary" data-ng-click="addCustomer()">Add Customer</button>
			</li>
		</ul>
	</div>
</div>

<div><a href="#/view2" class="btn btn-primary btn-jump">Goto Employes List</a></div>
