<div class="panel panel-default">
	<div class="panel-body">
		<ul class="list-inline">
			<li><a href="#/fathers" class="btn btn-primary btn-jump">List of Fathers</a></li>
			<li><a href="#/customers" class="btn btn-primary btn-jump">Employes List</a></li>
		</ul>
	</div>
</div>