<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AngularJS Exercises</title>
	<style>
		.myclass{color: red; font-weight: bold; }
		.disable-btn {border: 0; color: #666;}
	</style>
</head>
<body data-ng-app="myApp">

<div class="wrapper" data-ng-controller="myCtrl">
	<p>My Message:</p>
	<div><textarea name="message" id="message" cols="30" rows="10" data-ng-model="message"></textarea></div>
	<p>Remaining Text: <span data-ng-class="{'myclass':warning()}">{{remaing()}}</span></p>
	<div>
		<button data-ng-disabled="btnDisable()" data-ng-class="{'disable-btn': btnDisable()}" data-ng-click="save()">Save</button>
		<button data-ng-click="clear()">Clear</button>
	</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="js/myapp.js"></script>
<script src="js/appctrl.js"></script>
</body>
</html>