*{transition:all 0.25s ease-in-out; box-sizing:border-box; outline: none;}
body{color: #000;}
.userList .table{margin-bottom: 0; border-radius:5px;}


.menu a{text-decoration: none; color: #fff; text-transform: uppercase; font-size: 14px; font-weight: bold; display: inline-block; padding: 8px 10px; background: #333; margin-top: 20px;}
.menu a:hover{background: #000;}
#header{font-size: 50px; text-align: center; padding: 20px 0; font-weight: bold; color: #428bca;}
.addCustomers{}
.addCustomers h4{margin-top: 0; text-transform: uppercase;}
.add-data{margin: 0; padding: 0; list-style: none;}
.add-data li{display: inline-block;}
.add-data li lable{display: block;}
.add-data li input{border: 1px solid #333; padding: 10px;}
.btn{display: block;}
.btn-jump a{color: #fff; font-weight: bold;}
.remove{color: #cc0000; font-size: 11px; cursor: pointer;}
#footer{padding: 20px; text-align: center; font-size: 12px; color: #666;}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus,
.navbar-brand{background: #d9edf7;}